.information-form {
    /* border: 3px solid #AFE5F4;
    padding: 20px 30px;
    border-radius: 10px;
    width: 500px; */

    display:flex;
    flex-direction:column;
}

mat-form-field.adjuster_name_title {
    background-color: #9ED9E7;
    margin-bottom:16px;
    border-radius:5px;
}


/* Common */
input,
textarea {
    padding: 10px;
    outline:none;
}

.middleInitial-salutation-suffix{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
}

.tin-accountNo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5px;
}

mat-form-field.industry ::ng-deep .mat-mdc-form-field-infix{
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
}