<div class="container">
  <form class="information-form" [formGroup]="form" *ngIf="labels.status">
    <mat-radio-group aria-label="Select an option" formControlName="status">
      <mat-label>{{ labels.status.label }}</mat-label>
      <mat-radio-button
        value="{{ statusLabel.id }}"
        *ngFor="let statusLabel of labels.status.values; let i = index"
        >{{ statusLabel.label }}</mat-radio-button
      >
    </mat-radio-group>

    <mat-form-field
      class="adjuster_name_title"
      appearance="outline"
      *ngIf="labels.name || labels.fullName"
    >
      <input
        matInput
        placeholder="{{
          form.get('name').value ||
            labels.name ||
            getFullName() ||
            labels.fullName
        }}"
        disabled
      />
    </mat-form-field>

    <mat-form-field
      [class.required]="checkRequired('code')"
      appearance="outline"
      [style.width.px]="220"
      *ngIf="labels.code"
    >
      <mat-label>{{ labels.code }}</mat-label>
      <input
        matInput
        placeholder="{{ labels.code }} *"
        maxlength="20"
        formControlName="code"
        required
      />
      <mat-hint align="end">{{ form.get("code").value.length }}/20</mat-hint>
    </mat-form-field>

    <mat-form-field
      [class.required]="checkRequired('nameLast')"
      appearance="outline"
      *ngIf="labels.nameLast"
    >
      <mat-label>{{ labels.nameLast }}</mat-label>
      <input
        matInput
        placeholder="{{ labels.nameLast }} *"
        maxlength="{{ 255 }}"
        formControlName="nameLast"
        required
      />
      <mat-hint align="end"
        >{{ form.get("nameLast").value.length }}/{{ 255 }}</mat-hint
      >
    </mat-form-field>

    <mat-form-field
      [class.required]="checkRequired('nameFirst')"
      appearance="outline"
      *ngIf="labels.nameFirst"
    >
      <mat-label>{{ labels.nameFirst }}</mat-label>
      <input
        matInput
        placeholder="{{ labels.nameFirst }} *"
        maxlength="{{ 30 }}"
        formControlName="nameFirst"
        required
      />
      <mat-hint align="end"
        >{{ form.get("nameFirst").value.length }}/{{ 30 }}</mat-hint
      >
    </mat-form-field>

    <div
      [class.middleInitial-salutation-suffix]="
        labels.namePrefix && labels.nameMiddleInitial && labels.nameSuffix
      "
    >
      <mat-form-field
        [class.required]="checkRequired('nameMiddleInitial')"
        appearance="outline"
        *ngIf="labels.nameMiddleInitial"
      >
        <mat-label>{{ labels.nameMiddleInitial }}</mat-label>
        <input
          matInput
          placeholder="{{ labels.nameMiddleInitial }}"
          maxlength="{{ 2 }}"
          formControlName="nameMiddleInitial"
        />
        <mat-hint align="end"
          >{{ form.get("nameMiddleInitial").value.length }}/{{ 2 }}</mat-hint
        >
      </mat-form-field>

      <mat-form-field
        [class.required]="checkRequired('namePrefix')"
        appearance="outline"
        *ngIf="labels.namePrefix"
      >
        <mat-label>{{ labels.namePrefix }}</mat-label>
        <input
          matInput
          placeholder="{{ labels.namePrefix }} *"
          maxlength="{{ 15 }}"
          formControlName="namePrefix"
        />
        <mat-hint align="end"
          >{{ form.get("namePrefix").value.length }}/{{ 15 }}</mat-hint
        >
      </mat-form-field>

      <mat-form-field
        [class.required]="checkRequired('nameSuffix')"
        appearance="outline"
        *ngIf="labels.nameSuffix"
      >
        <mat-label>{{ labels.nameSuffix }}</mat-label>
        <input
          matInput
          placeholder="{{ labels.nameSuffix }} *"
          maxlength="{{ 20 }}"
          formControlName="nameSuffix"
        />
        <mat-hint align="end"
          >{{ form.get("nameSuffix").value.length }}/{{ 20 }}</mat-hint
        >
      </mat-form-field>
    </div>

    <mat-form-field
      [class.required]="checkRequired('email')"
      appearance="outline"
      *ngIf="labels.email"
    >
      <mat-label>{{ labels.email }}</mat-label>
      <input
        matInput
        placeholder="{{ labels.email }}"
        maxlength="{{ 300 }}"
        formControlName="email"
      />
      <mat-hint align="end"
        >{{ form.get("email").value.length }}/{{ 300 }}</mat-hint
      >
    </mat-form-field>

    <mat-form-field
      [class.required]="checkRequired('name')"
      appearance="outline"
      *ngIf="labels.name"
    >
      <mat-label>{{ labels.name }}</mat-label>
      <input
        matInput
        placeholder="{{ labels.name }} *"
        maxlength="{{ maxLength }}"
        formControlName="name"
      />
      <mat-hint align="end"
        >{{ form.get("name").value.length }}/{{ maxLength }}</mat-hint
      >
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="labels.specialty">
      <mat-label>{{ labels.specialty }}</mat-label>
      <textarea
        matInput
        placeholder="{{ labels.specialty }}"
        maxlength="500"
        formControlName="specialty"
      ></textarea>
      <mat-hint align="end"
        >{{ form.get("specialty").value.length }}/500</mat-hint
      >
    </mat-form-field>

    <div
      *ngIf="labels.tin && labels.accountNo && labels.fullName; else fallback"
      [class.tin-accountNo]="true"
    >
      <mat-form-field appearance="outline" *ngIf="labels.tin">
        <mat-label>{{ labels.tin }}</mat-label>
        <input
          matInput
          placeholder="{{ labels.tin }}"
          maxlength="30"
          formControlName="tin"
        />
        <mat-hint align="end"
          >{{ form.get("tin").value.length }}/{{ 30 }}</mat-hint
        >
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="labels.accountNo">
        <mat-label>{{ labels.accountNo }}</mat-label>
        <input
          matInput
          placeholder="{{ labels.accountNo }}"
          maxlength="30"
          formControlName="accountNo"
        />
        <mat-hint align="end"
          >{{ form.get("accountNo").value.length }}/{{ 30 }}</mat-hint
        >
      </mat-form-field>
    </div>

    <ng-template #fallback>
      <mat-form-field appearance="outline" *ngIf="labels.tin">
        <mat-label>{{ labels.tin }}</mat-label>
        <input
          matInput
          placeholder="{{ labels.tin }}"
          maxlength="30"
          formControlName="tin"
        />
        <mat-hint align="end"
          >{{ form.get("tin").value.length }}/{{ 30 }}</mat-hint
        >
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="labels.accountNo">
        <mat-label>{{ labels.accountNo }}</mat-label>
        <input
          matInput
          placeholder="{{ labels.accountNo }}"
          maxlength="30"
          formControlName="accountNo"
        />
        <mat-hint align="end"
          >{{ form.get("accountNo").value.length }}/{{ 30 }}</mat-hint
        >
      </mat-form-field>
    </ng-template>
  </form>
</div>
