<div class="information-container">
  <app-information [labels]="labels" prefix="adjuster" [(ngModel)]="adjusterFormData.information" name="information" ></app-information>
  external: {{adjusterFormData | json}}
</div>

<div class="location-container">
  <app-location [(ngModel)]="adjusterFormData.location" name="location"></app-location>
  <app-phone-table></app-phone-table>
</div>

<div class="contact-table-container">
  <app-contacts-table></app-contacts-table>
</div>

<div class="summary">
  <app-summary
    title="adjuster summary"
    header="adjuster information"
  ></app-summary>
</div>
