<div class="information-container">
  <app-information [labels]="labels" [initialValue]="information" (data)="setInformation($event)" ></app-information>
  external: {{adjuster | json}}
</div>

<div class="location-container">
  <app-location [initialValue]="location" (data)="setLocation($event)"></app-location>
  <app-phone-table></app-phone-table>
</div>

<div class="contact-table-container">
  <app-contacts-table></app-contacts-table>
</div>

<div class="summary">
  <app-summary
    title="adjuster summary"
    header="adjuster information"
  ></app-summary>
</div>
