<div class="container contacts-table-container">
  <button
    class="add_row"
    mat-raised-button
    color="primary"
    (click)="openDialog()"
  >
    <mat-icon>add_circle</mat-icon><b>{{ "Add Row".toUpperCase() }}</b>
  </button>

  <div class="table-header table-grid">
    <div></div>
    <div><b>#</b></div>
    <div><b>Full Name</b></div>
    <div><b>Designation</b></div>
    <div><b>Email Address</b></div>
    <div><b>Group Mail Address</b></div>
    <div><b>Date of Birth</b></div>
    <div><b>Contact No./s</b></div>
    <div><b>Primary</b></div>
    <div><b>Status</b></div>
  </div>

  <ng-container *ngFor="let contact of contacts; let i = index">
    <div class="table-grid">
      <div class="remove_icon" (click)="(null)">
        <mat-icon>remove_circle</mat-icon>
      </div>
      <div>{{ i + 1 }}</div>
      <div>{{ contact.fullname }}</div>
      <div>{{ contact.designation }}</div>
      <div>{{ contact.email }}</div>
      <div>{{ contact.groupemail }}</div>
      <div>{{ contact.dob }}</div>
      <div>{{ contact.contactno }}</div>
      <div>{{ contact.primary == true ? "Yes" : "No" }}</div>
      <div>{{ contact.status }}</div>
    </div>
  </ng-container>
</div>
