<pre>
  contacts:{{ contacts | json }}
</pre>
<div class="container contacts-table-container">
  <button
    class="add_row"
    mat-raised-button
    color="primary"
    (click)="openDialog()"
  >
    <mat-icon>add_circle</mat-icon><b>{{ "Add Row".toUpperCase() }}</b>
  </button>

  <div class="table-header table-grid">
    <div></div>
    <div><b>#</b></div>
    <div><b>Full Name</b></div>
    <div><b>Designation</b></div>
    <div><b>Email Address</b></div>
    <div><b>Group Mail Address</b></div>
    <div><b>Date of Birth</b></div>
    <div><b>Contact No./s</b></div>
    <div><b>Primary</b></div>
    <div><b>Status</b></div>
    <div><b></b></div>
  </div>

  <ng-container *ngFor="let contact of contacts; let i = index">
    <div class="table-grid">
      <div class="remove_icon" (click)="(null)">
        <mat-icon>remove_circle</mat-icon>
      </div>
      <div>{{ i + 1 }}</div>
      <div>{{ getContactName(contact) }}</div>
      <div>{{ contact.contactDesignation }}</div>
      <div>{{ contact.contactEmail }}</div>
      <div>{{ contact.contactGroupEmail }}</div>
      <div>{{ contact.contactBirthdate | date }}</div>
      <div>
        <span *ngFor="let cphone of contact.contactPhones">
          {{ cphone.contactPhoneNumber }},
        </span>
      </div>
      <div>{{ contact.contactIsDefault ? "True" : "False" }}</div>
      <div>{{ contact.contactStatus }}</div>
      <div (click)="editDialog()"><mat-icon>edit</mat-icon><b></b></div>
    </div>
  </ng-container>
</div>
