.location-form {
    display:flex;
    flex-direction:column;
}

.city-zip {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

.location-title {
    color:darkgray;
}


/* Common */
input,
textarea {
    padding: 10px;
    outline:none;
}