.phone-table-container {
    display:flex;
    flex-direction:column;
}

.table-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 3fr 1fr;
    gap: 5px;
}

.table-header {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px 0;
    margin-bottom: 10px;
}


.add_row {
    align-self: end;
    margin-bottom: 10px;
}

.phone_status {
    justify-self: center;
    padding-top: 10px;
}

button {
    justify-self: end;
}


/* Common */
input,
textarea {
    padding: 10px;
    outline:none;
}

/* default and hover color */
mat-form-field {
    color:darkgray;
    padding: 0;
}

.mat-mdc-form-field-input-control::placeholder{
    color: black;
}

.required {
    color: red;
}

