<div class="container">
  <div class="main-title">
    <b>
      {{ title.toUpperCase() }}
    </b>
  </div>
  <div class="section-container">
    <div class="section" *ngFor="let d of summary.sections; let i = index">
      <div class="title" [class.sameColor]="!d.title">
        {{ d.title | titlecase }}
      </div>
      <div class="elements" *ngFor="let e of d.elements">
        <div class="label">{{ e.label }}</div>
        <div>:</div>
        <div class="value">
          {{ isDate(e.value) ? (e.value | date) : e.value }}
        </div>
      </div>
    </div>
  </div>
  <div class="info_correct center" [formGroup]="form">
    <mat-checkbox labelPosition="after" formControlName="agree"
      >I hereby certify that I have reviewed and checked all the details and
      that the information is correct
    </mat-checkbox>
  </div>
</div>
