<div class="information-container">
  <app-information
    [maxLength]="maxLength"
    [labels]="labels"
    [information]="subAgentSubGrp.information"
    (data)="setInformation($event)"
  ></app-information>
  external:
  <pre> {{ subAgentSubGrp | json }}</pre>
</div>

<div class="location-container">
  <app-location
    [location]="subAgentSubGrp.location"
    (data)="setLocation($event)"
  ></app-location>
  <app-phone-table
    [phoneList]="subAgentSubGrp.phones"
    (data)="setPhones($event)"
  ></app-phone-table>
</div>

<div class="contact-table-container">
  <app-contacts-table
    [contactsList]="subAgentSubGrp.contacts"
    (data)="setContacts($event)"
  ></app-contacts-table>
</div>

<div class="summary">
  <app-summary
    title="branch section summary"
    header="branch information"
    [summary]="getSummary()"
    (onAgree)="onAgree($event)"
  ></app-summary>
</div>
