<div class="information-container">
  <app-information [labels]="labels" prefix="bank" [(ngModel)]="bank" name="bank"></app-information>
  external: {{bank | json}}
</div>

<div class="location-container">
  <app-location></app-location>
  <app-phone-table></app-phone-table>
</div>

<div class="contact-table-container">
  <app-contacts-table></app-contacts-table>
</div>

<div class="summary">
  <app-summary
    title="bank account summary"
    header="bank account information"
  ></app-summary>
</div>
